
/* what is this doing? */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 80px;
  font-family: "roboto", sans-serif;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 10px;
  background-color: #EEEEEE;
  border-bottom: 1px solid #DDDDDD;
}

/* why does this need to be here */
.rl-logo {
  display: inline-block;
  border-radius: 100%;
  font-weight: 800;
}

.rl-logo h1 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.nav {
  position: absolute;
  right: 10px;
  top: 10px;

}

.navlink {
  font-size: 18px;
  padding: 0 6px;

}

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
}

a:visited {
  color: purple;
  text-decoration: none;
}

/* Body */

input {
  width: 400px;
  height: 30px;
  border-radius: 3px;
  font-size: 18px;
  padding-left: 10px;
  border: 1px solid #DDDDDD;
  position: relative;
  bottom: 15px;
}

.mag  {
  height: 30px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  position: relative;
  top: -6px;
}

.pages {
  display: inline-block;
  font-size: 0;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  margin-bottom: 30px;
}

.pagesbuttons {
  font-size: 16px;
  display: inline-block;
  padding: 8px 15px;
  border-radius: 3px;

}

.pagestext {
  font-size: 16px;
  display: inline-block;
  padding: 0px 30px;
  padding: 8px 15px;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
}
